.select-block {
  position: relative;

  &__top {
    display: inline-flex;
    align-items: center;
    margin: 2px 5px 2px 0;
    border-radius: 4px;
    padding: 6px 10px;
    height: 40px;
    width: 250px;
    background: #fff;
    border: 1px solid rgba(0,0,0,.15);
    white-space: nowrap;
  }

  &__row {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  &__dropdown {
    width: 220px;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);
    border: none;
    min-width: 350px;
  }

  &__info {
    max-width: calc(100% - 20px);
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
  }

  &__active {
    border-radius: 4px;
    background: #dfebff;
    font-size: 14px;
    line-height: 1;
    padding: 4px 10px;
  }

  &__selected {
    overflow: hidden;
    display: inline-flex;
    align-items: center;
  }

  &__clear {
    cursor: pointer;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: #f5f4f0;
    }
  }

  &__icon {
    margin-right: 5px;
    margin-top: 2px;
  }

  &__note {
    color: #a7a7a7;
    margin-top: 2px;
  }

  &__i {
    display: flex;
    padding: 0 18px 8px;
    line-height: 16px;
    height: auto;
    font-size: 14px;

    &:first-child {
      padding-top: 16px;
    }

    &:last-child {
      padding-bottom: 16px;
    }
  }

  &__bottom {
    padding: 10px 20px 15px;
  }
}
